body {
    text-align: center;
    background-color: #202225;
    color: white;
}
.list-item {
    margin: 0.8rem;
}

#input-item {
    background-color: #40444b;
    color: white;
    border-radius: 25px;
}

#input-item:focus {
    outline-color: #2f3136;
}

button {
    background-color: #40444b;
    color: white;
    margin-left: .8rem;
}

#container {
    background-color: #292b2f;
    padding-bottom: 5rem;
    padding-top: 1rem;
}

div.list-item label:checked {
    text-decoration: line-through;
 }