ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #0096FF;
    font-size: 18px;
    transition: 0.2s;
  
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
/*odd color chg*/
  ul li:nth-child(odd) {
    background: #6495ED;
  }
/*hover color chg*/
  ul li:hover {
    background: #40444b;
    color: white;
  }
/* When clicked on, add a background color and strike out text */
  ul li.checked {
    background: white;
    color: black;
    text-decoration: line-through;
  }

  a {
    color: black;
}

body {
  background-color: white;
  text-align: center;
}

#listItems li{
  list-style: none;
}
#listItems li input[type="checkbox"]{
  margin-right: 5000px;
} 
#listItems li input[type="checkbox"]:checked + span {
  text-decoration: line-through;
  text-decoration-color: red;
}

/* div.list-item label:checked {
  text-decoration: line-through;
}

label:has(input:checked) {
  text-decoration: line-through;
  text-decoration-color: red;
} */